*{/*for full screen*/
	box-sizing: border-box; 
}

body,html { /*for full screen*/
    margin: 0;
    padding: 0;
}

input{
	display: block;
	align-self: center;
}

.basicBorder{
	border: 1px solid black;
}

.login{
	width: 50%;
	margin: auto;
}

.dashboard{
	display: grid;
	height: 100vh; /*for full screen*/
	padding: 5px; /*for white space after fullscreen*/
	grid-template-columns: repeat(2,1fr);
	grid-template-rows: auto 1fr;
	grid-template-areas: 
	"details 	details"
	"task 		task"
}

.clientDetails{
	grid-area: details;
}

.taskCenter{
	height: 100%;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-area: task;
	grid-template-areas: 
	"taskList taskView"
}

.task:hover{
	background-color: yellow;
}

.selectedTask{
	background-color: green;
}

.selectedTask:hover{
	background-color: green;
}

.taskView{
	grid-area: taskView;
}

.taskList{
	grid-area: taskList;
}

.timePeriod{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto 1fr;
	grid-template-areas: 
	"date 		sTime 		eTime"
	"comment 	comment 	comment"
}

.dateContainer{
	grid-area: date;
}

.timeContainerS{
	grid-area: sTime;
}

.timeContainerE{
	grid-area: eTime;
}

.comment{
	grid-area: comment;
}

.taskAdd{
	display: grid;
	grid-template-rows: auto auto 50vh auto;
}

.taskAdd input{
	display: inline;
}

.addPeriodList{
	overflow-y: auto;
}